body {
  background-color: #050400;
  font-family: 'Bokor', cursive;
  height: 100vh;
  width: 100vw;
  margin: auto 0;
  display: flex;
  color: #fb6b27;
  text-align: center;

}
.body-content {
  width: 100%;
  display: flex;
}

.flexbox-item-1 {
  /* height: 100%; */
  font-size: 30px;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  border: 7px solid #e1e5ea;
  border-radius: 50px;
  min-width: 260px;
}

.flexbox-item-2 {
  /* height: 100%; */
  font-size: 10px;
  border: 7px solid #e1e5ea;
  border-radius: 50px;
  margin: auto;
}

.flexbox-item-3 {
  /* height: 100%; */
  font-size: 30px;
  border: 7px solid #e1e5ea;
  border-radius: 50px;
  min-width: 260px;
  margin: auto;
}

section.board {
  display: grid;
  grid-template-rows: repeat(6, 10vmin);
  grid-template-columns: repeat(7, 10vmin);
  grid-gap: 0vmin;
}

.openings {
  border: 7px solid #e1e5ea;
  border-radius: 50px;
  text-align: center;
  vertical-align: middle;
}

.board {
  text-align: center;
  display: flex;
  justify-content: center;
  color: #fb6b27;
  padding: 12px;

}

#reset-button {
  width: 60px;
  margin: 0 auto;
  display: block;
  padding: 8px;
  font-family: 'Bokor', cursive;
  color: black;
  background-color:#fb6b27;
  border: 10px;
  border-radius: 24px;
}


.circle1 {
  background-color: #d1b607;
} 

.circle2 {
  background-color: #e35a1f;
} 

h1 {
  font-size: 80px;
  margin: -6px;
}

h2 {
  font-size: 30px;
  margin: -2px;
}

h3 {
  margin: -15px;
  font-size: 50px;
}

h4 {
  margin: -15px;
  font-size: 50px;
}

#player1,
#player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
  body {

  }
}

main {
  background-color: #050400;
  font-family: 'Bokor', cursive;
  height: 100vh;
  width: 100vw;
  margin: auto 0;
  display: flex;
  color: #fb6b27;
  text-align: center;

}
.body-content {
  width: 100%;
  display: flex;
}

.flexbox-item-1 {
  /* height: 100%; */
  font-size: 30px;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  border: 7px solid #e1e5ea;
  border-radius: 50px;
  min-width: 260px;
}

.flexbox-item-2 {
  /* height: 100%; */
  font-size: 10px;
  border: 7px solid #e1e5ea;
  border-radius: 50px;
  margin: auto;
}

.flexbox-item-3 {
  /* height: 100%; */
  font-size: 30px;
  border: 7px solid #e1e5ea;
  border-radius: 50px;
  min-width: 260px;
  margin: auto;
}

section.board {
  display: grid;
  grid-template-rows: repeat(6, 10vmin);
  grid-template-columns: repeat(7, 10vmin);
  grid-gap: 0vmin;
}

.openings {
  border: 7px solid #e1e5ea;
  border-radius: 50px;
  text-align: center;
  vertical-align: middle;
}

.board {
  text-align: center;
  display: flex;
  justify-content: center;
  color: #fb6b27;
  padding: 12px;

}

#reset-button {
  width: 60px;
  margin: 0 auto;
  display: block;
  padding: 8px;
  font-family: 'Bokor', cursive;
  color: black;
  background-color:#fb6b27;
  border: 10px;
  border-radius: 24px;
}


.circle1 {
  background-color: #d1b607;
} 

.circle2 {
  background-color: #f01310;
} 

h1 {
  font-size: 80px;
  margin: -6px;
}

h2 {
  font-size: 30px;
  margin: -2px;
}

h3 {
  margin: -15px;
  font-size: 50px;
}

h4 {
  margin: -15px;
  font-size: 50px;
}

#player1,
#player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}