body {
  background-color: #050400;
  font-family: 'Bokor', cursive;
  height: 120vh;
  margin: auto 0;
  display: flex;
  color: #fb6b27;
  text-align: center;
  /* font-size: 30px; */
}

.flexbox-container {
  display: flex;
  min-height: 400px;
}

.flex-box-item-1 {
  min-height: 400px;
  font-size: 30px;
  margin: auto;
}

.flex-box-item-2 {
  min-height: 400px;
  font-size: 10px;
}

.flex-box-item-3 {
  min-height: 400px;
  font-size: 30px;
}

section.board {
  display: grid;
  grid-template-rows: repeat(6, 10vmin);
  grid-template-columns: repeat(7, 10vmin);
  grid-gap: 0vmin;
}

div {
  border: 7px solid #e1e5ea;
  border-radius: 50px;
  /* font-size: 8vmin; */
  text-align: center;
  vertical-align: middle;
}

.board {
  text-align: center;
  display: flex;
  justify-content: center;
  color: #fb6b27;
  padding: 12px;

}

#reset-button {
  width: 60px;
  margin: 0 auto;
  display: block;
  padding: 8px;
  font-family: 'Bokor', cursive;
  color: black;
  background-color:#fb6b27;
  border: 10px;
  border-radius: 24px;
}


.circle1 {
  background-color: #d1b607;
} 

.circle2 {
  background-color: #e35a1f;
} 

h1 {
  font-size: 80px;
  margin: -6px;
}

h2 {
  font-size: 30px;
  margin: -2px;
}

h3 {
  margin: -15px;
  font-size: 50px;

}

h4 {
  margin: -15px;
  font-size: 50px;

}